*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 0.1);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.visually-hidden {
  position: absolute; /* элемент вырывают из потока */
  width: 1px; /* делают элемент очень маленьким, но таким, чтобы не пропал совсем */
  height: 1px;
  margin: -1px; /* элемент убирают из поля зрения, сдвинув на размер самого себя */
  padding: 0; /* обнуляют отступы, они есть у некоторых элементов по умолчанию */
  border: 0; /* убирают границу, она тоже может быть у каких-то элементов */
  clip: rect(
    0 0 0 0
  ); /* это свойство обрезает видимую область до нулевого значения */
  overflow: hidden; /* на всякий случай скрывают видимое за пределами блока */
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  gap: 30px;
  align-items: end;
  width: 1140px;
}

.search-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  align-items: start;
}

.search-form__fieldset {
  border: 0;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

.search-form__label {
  display: flex;
  gap: 5px;
  width: fit-content;
  cursor: pointer;
}

.search-form__textfield {
  appearance: none;
  background-color: transparent;
  border: 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  padding: 2.5px 0;
  line-height: 112%;
  min-width: 225px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:active {
  outline: 1px solid #fff;
}

.button {
  font-weight: 700;
  font-size: 18px;
  background-color: transparent;
  border: 1px solid #fff;
  color: inherit;
  padding: 6px 0;
}

.button:active {
  background-color: rgb(217 217 217 / 0.1);
}

.search-form__submit-button {
  align-self: end;
  width: 194px;
  cursor: pointer;
}

.search-form__submit-button:hover {
  text-decoration: underline;
}

.search-form__label:has(:focus-visible):not(:active),
.search-form__submit-button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.more-button {
  width: 100%;
  margin-bottom: 2px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  width: 19px;
  height: 19px;
}

.search-form__pseudo-checkbox::after {
  content: '';
  display: none;
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  display: block;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.content__list-container {
  position: relative;
  height: 298px;
  overflow-y: auto;
}

.content__list-item {
  padding: 0 3px;
  cursor: pointer;
}

.content__list-item:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: -1px;
}

.content__list-item:active {
  background-color: rgb(217 217 217 / 0.1);
}

.content__details {
  width: 100%;
  height: 100%;
}

.title {
  font-family: Oswald;
  font-size: 75px;
  margin-bottom: 26px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
}

.content__card-link {
  text-decoration: none;
  color: inherit;
}

.content__card-link:focus {
  outline: none;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__list-item:hover .content__video-card-description-container {
  text-decoration: underline;
}

.content__video-card-title {
  font-family: Oswald;
  font-size: 30px;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 196px;
}

.content__video-card-description {
  line-height: 90%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}
